// =============================================================================
// -----------------------------------------------------------------------------
// Icon Generator 2.0
// -----------------------------------------------------------------------------

#include "IconGen.h"

PRO_ICON	ICON		"IconGen.ico"

// =============================================================================
