@font-face {
    font-family: 'NiseSegaSaturn';
    src: url('NiseSegaSaturn.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NiseSegaNet';
    src: url('NiseSegaNet.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NiseGenesis';
    src: url('NiseGenesis.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SonicTitle';
    src: url('SonicTitle.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Andes';
    src: url('Andes.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NiseSegaSonic';
    src: url('NiseSegaSonic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NiseSegaSaturnJP';
    src: url('NiseSegaSaturnJP.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NiseSega';
    src: url('NiseSega.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NiseSG1000';
    src: url('NiseSG1000.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'NiseR360';
    src: url('NiseR360.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}